* {margin:0; padding:0;}
img {border:none;}
body {font-family:Arial, sans-serif; font-size:13px; color:#666666;}
select, input {font-family:Arial, sans-serif; color:#666666;}
.clear {font-size:0px; clear:both;}
a {color:#666666;}
a:hover {color:#c23629;}
.special_a {text-decoration:none; color:#c23629;}

ul, ol {list-style-position:outside; list-style-type:none;}
li {background:url(../images/element_2.png) no-repeat 0px 2px; padding-left:14px;}
li a {color:#666666; text-decoration:none;}

#content_center {width:100%; text-align:center;}

.wrapper {display:table; background:#fff;}
.cell {display:table-cell; vertical-align:middle; right:0px; width:100%;}
.hack {text-align:center;}
.hack p {padding:2px 0px 0px 1px;}

.communicat_box {position:absolute; left:50%; top:120px}
.communicat_box div {width:650px; position:relative; left:-280px; background:#fff; z-index:100; border:1px solid #d2d1cf}
.communicat_box div div {width:auto; position:static; background:none; z-index:auto; border:none; padding:30px 30px 30px 30px}
.communicat_box div div div {padding:0}
.communicat_box p.close {position:absolute; top:4px; right:4px}
.communicat_box p.close img {cursor:pointer}
.communicat_box p.title {font-weight:bold; padding:0px 0px 10px 0px}
.communicat_box p.no_more {position:absolute; bottom:4px; right:4px; color:#717171; font-size:10px}
.communicat_box p.no_more input {position:relative; top:3px}

/* TOP CONTENT */

#top_content {widh:100%; height:92px; text-align:left; padding-bottom:5px;}
#logotype {float:left; padding:8px 0px 0px 32px;}

#login_content {float:right; padding:8px 32px 0px 0px; width:250px;}
#login_content div p {float:right; height:11px; padding:0px 14px 0px 12px; background:url(../images/background_1.png) no-repeat right;}
#login_content div p.last {background:none;}
#login_content div.icons {text-align:right; width:100px; padding:0px 0px 0px 40px;}
#login_content div.icons table {width:auto}
#login_box {padding:12px 12px 0px 0px;}
#login_box span {padding-right:3px;}
#login_box span input {width:100px;}
#login_box p#login_description {float:none; position:relative; top:-5px; left:-20px; color:#034b97; font-weight:bold; padding:0px 0px 0px 40px; background:none;}
#login_box p#login {float:none; position:relative; top:-5px; left:-20px; padding:2px 0px 0px 40px; background:none;}

.button {float:left;}
.button a {font-size:11px; display:block; color:#fff; border-top:1px solid #ccdceb; border-right:1px solid #6595c6; border-bottom:1px solid #497ab4; border-left:1px solid #bfd5ea; height:15px; background:url(../images/background_2.png); text-decoration:none; font-weight:bold; padding:2px 5px 0px 5px;}

#login_box div {float:left; text-align:left;}
#login_box div.clear {float:none;}

#login_box div#budget_info {float:right;}
#budget_info a {padding:2px 11px 0px 11px}

#budget_box {position:absolute; right:44px; top:0px; background:#fff; border:1px solid #d2d1cf; padding:10px; display:none;}
#budget_box table th, #budget_box table td {padding:2px 5px 2px 2px;}
#budget_box table th.first, #budget_box table td.first {border-right:1px solid #7faad4;}
#budget_box table td {border-top:1px solid #7faad4;}

.person {float:right; margin-right:10px; padding-top:12px;}
.person strong {color:#034b97;}
.person div {float:left;}
.person div.image {padding:3px 5px 0px 0px;}
.person div.clear {float:none;}
.person p {font-size:12px}

#basket_box {float:left; margin:22px 0px 0px 100px; font-size:12px}
#basket_box div {float:left}
#basket_box img {position:relative; top:3px}
#basket_box p {padding:0px 0px 0px 10px}
#basket_box a {color:#be3d38; cursor:pointer; font-weight:bold; text-decoration:none;}

#top_content .order_change {background:#fff; border:1px solid #93b9dd; padding:10px; position:absolute; left:10px; z-index:100; width:200px;}
#top_content .order_change .image {float:left;}
#top_content .order_change .info {float:left; width:160px;}
#top_content .order_change .info p {padding:5px 0px 5px 0px;}
#top_content .order_change .info p.button {padding:0;}
#top_content .order_change .info p.button a {color:#fff;}
#wsk_special_order_change {top:30px;}
#wsk_order_change {top:15px;}

/* MENU CONTENT */

#menu_content {width:100%; height:31px; background:url(../images/background_3.png) repeat-x; text-align:left;}
#menu_content ul {color:#fff; padding:7px 0px 0px 18px;}
#menu_content ul ul {z-index:2; position:absolute; border:1px solid #ca554c; list-style-type:none; background:#fff; padding:2px 6px 4px 2px; font-weight:bold; display:none;}
#menu_content ul li {float:left; height:23px; background:none;}
#menu_content ul ul li {float:none; height:auto; background:url(../images/element_1.png) no-repeat 6px 6px; padding:1px 5px 1px 14px;}
#menu_content ul li a {text-decoration:none; color:#ffffff; font-weight:bold;}
#menu_content ul li a.active {color:#bdcee2;}
#menu_content ul li li a {color:#666666;}
#menu_content ul li li a:hover {color:#353535;}
#menu_content li span {position:relative; top:-1px; padding:0px 0px 0px 10px;}

/* HORIZONTAL LIST */

#horizontal_list {height:20px; background:#e0e0e0; padding-top:5px; width:100%; overflow:hidden;}
#horizontal_list p {text-align:left; position:relative;}
#horizontal_list span {font-weight:bold; padding-right:17px; float:left;}
#horizontal_list strong {color:#c0413a; padding-left:5px;}
#horizontal_list a {text-decoration:none; color:#353535;}
#horizontal_list a:hover {color:#c0413a;}

/* MAIN CONTENT */

#main_content {text-align:left;}
#main_content table {width:100%;}

/* left column */

#products_sum {color:#044996}

#search_results {position:absolute; display:none; top:198px;}
#search_results p {z-index:100; position:relative; top:20px; left:295px;}
#search_results p a {text-decoration:none; color:#c23629}
#search_results div {position:relative; top:0px; left:0px; width:400px; background:#ecf1f8; border:1px solid #d1d1d3; z-index:2;}
#search_results li {background:none; padding:1px 3px 1px 3px;}
#search_results li.title strong {color:#034a98;}
#search_results li p strong {color:#666666;}

.offer_producers {padding-bottom:10px}

#left_column {width:235px; padding:11px 11px 0px 11px; vertical-align:top;}
.left_orders#left_column {display:none;}

#left_column .box {border:2px solid #ebebeb; bacground:#f7f9f8; padding:10px 10px 10px 10px; margin-bottom:10px;}
#left_column .no_margin {margin:0;}
#left_column .box.none #groups {display:none;}
#left_column .box input, #left_column .box select {width:100%;}
#left_column .box div.title, #left_column .box p.title {padding-bottom:5px;}
#left_column .box div.title {color:#014a97;}
#left_column .box p.title {color:#9d0000;}
#left_column .box p.title.uncompressed {cursor:pointer; position:relative;}
#left_column .box p.title.uncompressed .arrow {position: absolute; right:0px; top:-8px; display:none; font-size:25px;}
#left_column .box.none p.title.uncompressed .arrow {display:inline;}
#left_column .box div.title.compressed {cursor:pointer;}
#left_column .box div.compressed strong {color:#9d0000}
#left_column .box div.compressed strong span {color:#044996}
#groups {width:100%; overflow-y:auto; overflow-x:hidden; height:100px; position:relative; background:url(../images/loading_transparent.gif) no-repeat center;}
.no_background#groups {background:none;}
#groups ul, #range_1 ul {list-style-type:none; font-size:12px;}
#groups li, #range_1 li {padding:1px 0px 1px 0px; padding-left:13px; position:relative;}
#groups li img, #range_1 li img {position:absolute; left:0; top:3px; cursor:pointer;}
#groups li.show, #range_1 li.show {background:url(../images/show.png) no-repeat 0px 5px;}
#groups li.hide, #range_1 li.hide {background:url(../images/hide.png) no-repeat 0px 5px;}
#groups li.last, #range_1 li.last {background:url(../images/last.png) no-repeat 0px 5px;}
#groups li.letter, #range_1 li.letter {background:url(../images/element_2.png) no-repeat 0px 3px; padding-left:12px;}
#groups li a:hover, #groups li a.active, #range_1 li a:hover {color:#a00002;}
#groups span, #range_1 span {font-size:9px; color:#044996;}

.active_branch {color:#000}
.active_family {color:#005ca1}
.a_branch {color:#005ca1; font-weight:bold}
.actual_group, .a_family {color:#bf0000; font-weight:bold;}

#trader_comment {background:#fff; border:2px solid #006cb5; padding:15px 20px 15px 20px; position:absolute; left:0px; top:0px; z-index:100; display:none;}
#trader_comment p {padding:5px 0px 0px 0px;}
#trader_comment textarea {width:200px; height:100px;}
#trader_comment a.submit {color:#006cb5;}
#trader_comment img {cursor:pointer; position:absolute; top:4px; right:4px; width:15px;}


/* right column */

#page {padding:11px 11px 0px 0px; vertical-align:top;}
.left_orders#page {padding:11px 11px 0px 11px;}

#page_content {margin-right:5px;}
#page_content table {width:auto;}
#page_content td {padding-right:10px;}

/* FOOTER */

#footer_content {width:100%; background:#7597c5 url(../images/background_5.png) repeat-x; text-align:left; color:#ffffff;}
#footer_box {width:100%; height:100%; padding:10px 0px 10px 0px; padding-left:30px;}
#footer_box div {padding-left:210px;}
#footer_box a {color:#ffffff;}