#page_header {background:url(../images/background_4.png) repeat-x bottom; padding-bottom:5px; margin-bottom:5px;}
#page_header .details {float:left;}
#page_header .parents a {text-decoration:none; color:#a00002;}
#page_header .parents span {padding:0px 6px 0px 6px; color:#666666;}
#page_header .details strong {color:#a00002;}
#page_header .box {float:right; color:#034b97; padding-right:30px; padding-bottom:5px;}
#page_header .box span {text-decoration:underline; cursor:pointer;}
#page_header .box input {position:relative; top:3px;}
#page_header a.active {color:#c23629;}
#page_header span.comment {color:#034b97;}

#producers {position:relative; top:2px;}
#producers div {float:left; border:2px solid #ebebeb; margin-left:10px; border-bottom:2px solid #ebebeb;}
#producers div:hover, #producers div.active {float:left; border:2px solid #ebebeb; margin-left:10px; border-bottom:2px solid #fff; background:#f9fafc;}
#producers div.clear {border:none; background:none; margin:0; float:none;}
#producers p {padding:11px 21px 11px 21px;}
#producers a {text-decoration:none; color:#044996;}
#producers a:hover, #producers a.active {color:#a00002;}

#clear_0, #clear_1, #clear_2 {cursor:pointer; color:#497ab4;}

#during_the_verification {position:fixed; left:50%; top:50%; display:none;}
#during_the_verification div {position:relative; top:-50px; left:-150px; border:2px solid #93b9dd; z-index:100px; background:#fff; padding:7px 10px 7px 10px; text-align:center;}
#during_the_verification div p {padding:3px 0px 3px 0px;}

/* user functions */

#user_functions {cursor:pointer; width:173px;}
#user_functions_details {z-index:100; position:absolute; right:20px; top:30px; border:2px solid #497ab4; background:#fff; padding:5px; float:static; display:none;}
#login_content div#user_functions_details p {background:none; float:static; height:auto; width:auto; padding:0px; font-size:11px; width:120px; text-align:left;}

/* export */

#export_content {overflow-x:auto; overflow-y:auto; width:500px; height:100px;}
#export_box {width:3000px}

#page_content table.export {background:#f9fafc; border:2px solid #ebebeb; border-bottom:1px solid #ebebeb; border-bottom:medium none; font-size:13px; width:auto}
#page_content table.export th, #page_content table.export td {padding:5px 0px 5px 3px; border-right:1px solid #ebebeb;}
.export th {border-bottom:1px solid #ebebeb; padding:3px 5px 3px 0px; color:#c1433f; }
/*
.export th p {text-align:left; position:static; padding:0px 0px 0px 3px}
.export th p img.asc {position:relative; right:3px; top:-1px; cursor:pointer}
.export th p img.desc {position:relative; right:3px; top:9px; cursor:pointer}
*/
.export th .title {float:left;}
.export th .arrows {float:right;}
.export th .arrows p {padding:3px 3px 0px 0px; font-size:0;}
.export th.last, .export td.last {border-right:none}
.export td p {text-align:center}

.export td {border-bottom:1px solid #ebebeb;}

#export_columns {position:absolute; left:50%; z-index:3; display:none}
#export_columns div {float:left; border:2px solid #497ab4; padding:10px; width:130px; background:#fff; position:relative; left:-65px;}
#export_columns div.clear {float:none; border:none; padding:0; width:auto; background:none; position:static;}
#export_columns p.button {float:left; margin:10px 0px 0px 0px}
#export_columns input {position:relative; top:2px}

#savings_year {position:absolute; left:50%; z-index:3; display:none}
#savings_year div {float:left; border:2px solid #497ab4; padding:10px; width:130px; background:#fff; position:relative; left:-65px;}
#savings_year div.clear {float:none; border:none; padding:0; width:auto; background:none; position:static;}
#savings_year div p {padding:0px 0px 10px 0px;}
#savings_year div select {width:123px;}
#savings_year div p.button {padding:0;}

/* subgroup */

.delete_query_element {cursor:pointer}

#page_content table.subgroup {width:100%; background:#f9fafc; border:2px solid #ebebeb; border-bottom:1px solid #ebebeb;}
#page_content table.subgroup th, #page_content table.subgroup td {padding:5px 0px 5px 0px;}
#page_content table.subgroup th.td_image {padding:0px 10px 0px 0px;}
#page_content table.subgroup th.td_product {padding:0px 20px 0px 0px;}
.subgroup th {border-bottom:1px solid #ebebeb; color:#c1433f;}
.subgroup th p {text-align:left;}
.subgroup th div {text-align:center;}

.subgroup .td_image {width:80px;}
.subgroup .td_product {}
.subgroup td.status, .subgroup th.status {width:25px;}
.subgroup .td_symbol {width:80px; margin:0; padding:0;}
.subgroup .td_replacement {width:35px; margin:0; padding:0; text-align:center;}
.subgroup .td_weight {width:50px; margin:0; padding:0;}
.subgroup .td_unit, .subgroup .td_description {width:40px; margin:0; padding:0;}
.subgroup .td_producer {width:150px; margin:0; padding:0;}
.subgroup .td_availability {width:40px; margin:0; padding:0;}
.subgroup .td_price {width:100px; margin:0; padding:0;}
.subgroup .td_amount {width:120px; margin:0; padding:0;}
.subgroup .td_amount div {text-align:center}

.subgroup td {border-bottom:1px solid #ebebeb;}
.subgroup td .wrapper {width:42px; height:42px; border:1px solid #d1d1d3; margin-left:8px;}
.subgroup td p {text-align:center;}
.subgroup td.status strong, .subgroup .td_description strong {color:#3fc142;}
.subgroup td span {font-weight:bold; color:#c1433f;}
.subgroup td span img {position:relative; top:1px;}
.subgroup td div span {padding-right:5px;}
.subgroup td input[type='checkbox'] {position:relative; top:1px;}
.subgroup td input[type='text'] {width:30px; text-align:right;}

.subgroup td.status span, .subgroup td.status strong {font-size:15px;}

.action div {float:right; padding:5px 20px 0px 0px;}
.action p {width:150px; text-align:center;}
.action div.clear {float:none;}

#subpages {text-align:right;}
#subpages a {text-decoration:none; color:#014a97;}
#subpages a:hover {color:#c23629;}

.favorite_product {cursor:pointer;}

#products_content {width:100%; overflow-y:auto; overflow-x:hidden; height:380px;}

/* form */

label {width:170px; float:left; text-align:right; padding-right:5px; color:#666666;}
#form .element, .form .element {padding:0px 10px 5px 0px;}
#form input, #form select {width:300px;}
.form input, .form select {width:200px;}
#form textarea, .form textarea {width: 200px; height: 150px;}
#form input.checkbox, .form input.checkbox {width:auto; position:relative; top:2px;}
#form .error, .form .error {color:#bd3d37;}
#form .its_ok span, .form .its_ok span {color:#1185be; font-weight:bold;}
#form .its_error span, .form .its_error span {color:#e84f05; font-weight:bold;}
#form .info {padding-left:120px; padding-top:5px;}

#individual_products_content .range_details {display:none; padding:5px 0px 10px 0px;}
#individual_products_content .range_details#range_3 {padding:0px 0px 10px 0px;}
#individual_products_content .range_details.block {display:block;}
#individual_products_content .range_details .details {float:left;}
#individual_products_content .range_details#range_3 .details {float:none; display:none;}
#individual_products_content .range_details#range_3 .details.block {display:block}
#individual_products_content .range_details .details p.loading {padding:10px 0px 0px 75px;}

#permissions_table {padding:0px 0px 10px 0px}
#permissions_table th, #permissions_table td {text-align:center;}
#permissions_table th.first, #permissions_table td.first {text-align:left;}
#permissions_table input {width:auto}
#permissions_table th {padding:0px 5px 5px 5px; border-left:1px solid #ccc;}
#permissions_table th.first {border:none}
#permissions_table td {padding:5px 0px 2px 0px; border-top:1px solid #ccc; border-left:1px solid #ccc; border-bottom:1px solid #ccc}
#permissions_table td.first {border-left:none}
#permissions_table td.first strong {position:relative; top:-1px; padding:0px 5px 0px 0px}
#permissions_table td.last {border-top:none; border-bottom:none}

/* product */
#product_description, #person_description {display:none; position:absolute;}
#product_description #images, #person_description #images {padding:10px;}

#person_description {z-index:200;}

#product_gallery {position:absolute; top:0px; left:0px; z-index:3; display:none}
#product_gallery .title {padding:2px 0px 5px 0px;}
#corner {float:left;}
#corner p {position:relative; top:12px; left:2px;}
#product_description #images, #product_gallery #images {float:left; width:290px; border:2px solid #d2d1cf; background:#fff;}
#person_description #images {float:left; width:250px; border:2px solid #d2d1cf; background:#fff;}
#big_image {float:left; text-align:center; width:230px;}
#big_image .wrapper {width:220px; height:220px;}
#small_image {float:right;}
#small_image .wrapper {width:42px; height:42px; border:1px solid #d1d1d3; margin:3px 4px 3px 0px;}

#person_description #corner p {left:-2px};

#person_description #images div div {float:left;}
#person_description #images div div.clear {float:none;}
#person_description #images div p {float:left; padding-right:5px}
#person_description #images div div p {float:none; padding:0;}

#product_left_column {float:left; width:170px;}
#product_left_column img {border:1px solid #d1d1d3;}
#product_left_column #main_image {padding-bottom:5px;}
#product_left_column .gallery_element {float:left; margin-right:5px;}

.files {padding-top:10px;}

#product_right_column {float:left; width:610px; margin-left:7px;}
#product_right_column .description {float:left;}
#product_right_column .description p {padding-bottom:3px;}

#promotion_price {color:#c23629;}
#savings {color:#6faf1f;}
#netto_price {color:#4e7cb8;}

#product_to_basket {float:right;}
#product_to_basket p {text-align:right;}
#product_to_basket div div {float:right;}
#product_to_basket div div.clear {float:none;}
#product_to_basket div span {padding-left:5px;}
#product_to_basket div span input {width:40px; text-align:right;}

#about_product {padding-top:10px;}

#product_buttons {padding-top:10px;}
#product_buttons p {padding-right:10px;}

#product_forms #form {padding-top:10px; padding-bottom:10px;}
#product_forms p {float:left; padding-right:10px;}

#product_forms label {width:73px;}

.comment_content {padding:10px 0px 5px 0px;}
.comment_padding {padding-bottom:0;}
.comment_content .nick {float:left; padding:0px 0px 0px 0px; font-weight:bold;}
.comment_content .link {float:right; padding:0px 15px 0px 0px;}
.comment_text {padding-top:5px;}

.subpage_text p {padding-bottom:5px;}

#print_box span {color:#4e7cb8;}
#print_box span input {position:relative; top:2px;}
#print_box span a {text-decoration:none; color:#4e7cb8;}

/* product prices */

#user_netto {color:#4faf1e;}
#customer_netto {color:#034b97;}
#customer_brutto {color:#c0413a;}

/*product page */

#product_content {padding:5px;}
#product_menu {position:relative; top:1px;}
#product_menu p, #product_menu p.active {float:left; padding:5px; border:1px solid #ebebeb; margin-right:5px; font-weight:bold; cursor:pointer}
#product_menu p {color:#044996;}
#product_menu p:hover, #product_menu p.active {color:#c1433f; border-bottom:1px solid #f9fafc;}

#product_border {border:1px solid #ebebeb; width:800px; padding:5px;}

.product_table {width:100%;}
.product_table td {border-bottom:1px solid #ebebeb;}
.product_table .image_row {width:60px; text-align:center; padding:3px 0px 3px 0px;}

.ask_about {width:770px;}
.comment {width:540px;}

/* tables */

p.query_title {padding:5px 0px 0px 5px}
p.query_title strong {font-size:15px}
p.query_title span.year {float:right; padding-left:10px;}
p.query_title span.year a.active, p.query_title span.year a:hover {color:#c23629}
p.query_title span.clear {display:block;}

#page_content table.proteges_list {width:100%}
table.proteges_list, table#communicats_list {width:100%; border:1px solid #fff; border-left:none; border-top:none;}
.proteges_list th, #communicats_list th {border:1px solid #fff; border-right:none; border-bottom:none; background:#bd3d37; color:#fff; padding:2px 0px 2px 5px; text-align:center;}
.proteges_list td, #communicats_list td {border:1px solid #fff; border-right:none; border-bottom:none; padding:2px 0px 2px 5px; text-align:center;}
table.proteges_list tr tr th, table#communicats_list tr tr th {background:#7597c5;}
table.proteges_list tr tr td, table#communicats_list tr tr td {background:#eef1f4;}
table .bg_1 {background:#ededed;}
table .bg_2 {background:#f5f5f5;}
table .bg_3 {background:#e6ecf5;}

table.proteges_list td.mpk p {text-align:center}
table.proteges_list td.mpk input {width:110px;}

table#communicats_list div.communicat_content {text-align:left; display:none}

.proteges_list tr.special_product td {padding:0px 2px 0px 2px;}
.proteges_list tr.special_product input {width:100%;}

.order_informations .path {padding:10px 0px 5px 0px}
.order_informations .path .arrow {float:left; padding:14px 5px 0px 5px}
.order_informations .path .arrow strong {font-size:27px}
.order_informations .element {float:left; border:1px solid #7597c5; position:relative; top:1px; padding:4px 5px 4px 5px; height:90px}
.order_informations .active {border:2px solid #bd3d37; position:static;}
.order_informations .element p {padding:1px 0px 1px 0px}
.order_informations .element p span {text-decoration:underline;}
.order_informations .info {text-align:left; padding:5px 0px 5px 0px}
.order_informations .info p {padding:1px 0px 1px 0px}

#reject_order_form {position:fixed; top:50%; left:50%; z-index:10; display:none}
#reject_order_form div {background:#fff; border:2px solid #c34640; width:300px; height:135px; position:relative; top:-63px; left:-150px; padding:21px 10px 10px 10px}
#reject_order_form p.button {margin:10px 0px 0px 90px}
#reject_order_form textarea {width:298px; height:100px}
#reject_order_form span.close {position:absolute; top:3px; right:3px;}
#reject_order_form span.close img {cursor:pointer; width:15px;}

.amount_input {padding:0px 0px 0px 9px}
.amount_input input {text-align:right; width:30px}

.proteges_list td.replacement img {cursor:pointer}
.proteges_list td.replacement a {cursor:pointer; position:relative; top:-2px}

#protege_informations {border:1px solid #93b9dd; padding:10px; background:#fff; position:absolute; display:none;}
#protege_informations span {position:absolute; right:5px; top:5px;}
#protege_informations span img {width:15px; cursor:pointer;}

.copy_mpk {cursor:pointer;}

.archive_content.empty {background:url(../images/loading_transparent.gif) no-repeat center;}

/* basket */

#basket_info {float:left; padding-left:2px;}
#transport_info {padding-top:5px;}

#to_realization {float:right; padding-right:2px; padding-top:5px;}
#to_realization a {display:block; font-size:11px; padding-left:2px; text-decoration:none; color:#fff;}

/* login content */

#login_form {width:398px; height:190px; background:#f1f3f5; border:1px solid #cccccc; margin:0 auto; margin-top:30px;}
#description_box {float:left; width:170px;}
#description_box p {text-align:center; padding-top:35px;}
#description_box div {font-size:11px; padding-left:20px; padding-right:10px;}
#description_box div p {text-align:left; padding-top:15px;}

#form_content {float:left;}
#form_background {width:200px; background:#e9e9e9; border:1px solid #cccccc; padding-top:25px; margin-top:40px;}
.form_element {padding-left:15px; padding-bottom:8px;}
.form_element label {float:left; width:40px;}
.form_element input {width:105px; background:#eeeeee; border:1px solid #cccccc;}
.form_element input.submit {width:auto; background:#e9e9e9; border:1px solid #cccccc;}

/* main page */

.main_group {float:left; width:165px; height:155px; margin:5px 10px 5px 0px;}
.main_group table {width:100%; cursor:pointer;}
.main_group table th {text-align:center; vertical-align:middle; height:133px; width:100%;}
.main_group table td {height:32px; text-align:center; width:100%;}

.legend_details {position:absolute; z-index:100; padding:5px; border:1px solid #d2d1cf; display:none; background:#fff; width:235px;}
.legend_details p {width:230px; text-align:left;}
.legend_details span {position:relative; top:-8px; text-decoration:none;}
#legend_details_1 {top:170px; left:855px;}
#legend_details_2 {bottom:50px; left:257px;}