* {margin:0; padding:0;}
img {border:none;}
body {font-family:Arial, sans-serif; font-size:12px;}
.clear {font-size:0px; clear:both;}

#body_content {width:98%; margin:0 auto;}
#logo {padding-top:10px; padding-bottom:10px;}
#main_content {width:100%; border:1px solid #cccccc;}

#main_menu {height:auto; width:100%; background:#c7c7c7; border-bottom:1px solid #cccccc; padding:5px 0px 5px 0px}
#controllers {float:left;}
#logout {float:right;}
#main_menu ul {list-style-type:none; padding:0px 0px 0px 10px}
/*
#main_menu li {display:inline; padding-left:10px; padding-right:10px;}
*/
#main_menu li {display:block; float:left; padding:3px 20px 3px 0px}
#main_menu a {color:#000000; font-weight:bold; text-decoration:none;}
#main_menu a:hover, #main_menu a.active {text-decoration:underline;}

#main_submenu {height:25px; width:100%; background:#e9e9e9; border-bottom:1px solid #cccccc;}
#main_submenu ul {list-style-type:none; padding-top:5px; padding-left:10px;}
#main_submenu li {display:inline;}
#main_submenu a {color:#000000; text-decoration:none;}
#main_submenu span {padding-left:5px; padding-right:5px;}
#main_submenu a:hover, #main_submenu a.active {text-decoration:underline;}

#page_content {padding:2px 4px 2px 2px;}
#page_content #title_element {width:100%; height:21px; background:#eeeeee; border:1px solid #cccccc;}
#page_content #title_element p {padding-top:2px; padding-left:7px;}
#page_content #options {width:100%; height:21px; background:#eeeeee; border:1px solid #cccccc; border-top:none;}
#page_content #options ul {list-style-type:none; padding-top:3px; padding-left:10px;}
#page_content #options li {display:inline; padding-left:10px; padding-right:10px;}
#page_content #options a {color:#000000; text-decoration:none;}
#page_padding {padding:10px;}

.orders_list .show, .orders_list .hide {color:#006cb5; cursor:pointer;}

/* formularz */

#regroup_order, #save_order, #move_to_archive {cursor:pointer}
#save_order, #move_to_archive {padding:0px 10px 0px 0px}
#return_products {position:absolute; left:800px; top:0px;}
#return_products input {padding:3px 5px 3px 5px; cursor:pointer;}

.form_element {padding-bottom:5px;}
.form_element label {float:left;}
.form_element input {width:200px;}
.form_element #submit {width:auto;}
.error {color:#c12020;}
.ok {color:#38b118;}

.merchant label {width:90px;}
.merchant select {width:200px;}
.merchant p, .merchant label {float:left; padding-bottom:5px;}
.merchant .merchant_action {visibility:hidden; color:#c12020; cursor:pointer;}
.merchant .add_merchant {color:#38b118; cursor:pointer}

.order_informations .path {padding:10px 0px 5px 0px}
.order_informations .path .arrow {float:left; padding:14px 5px 0px 5px}
.order_informations .path .arrow strong {font-size:27px}
.order_informations .element {float:left; border:1px solid #7597c5; position:relative; top:2px; padding:4px 5px 4px 5px; height:82px}
.order_informations .active {border:3px solid #bd3d37; position:static;}
.order_informations .element p {padding:1px 0px 1px 0px}
.order_informations .element p span {text-decoration:underline;}
.order_informations .info {text-align:left; padding:5px 0px 5px 0px}
.order_informations .info p {padding:1px 0px 1px 0px}

.order_replacement img {cursor:pointer}
.order_replacement span {padding:0px 10px 0px 10px; position:relative; top:-4px}

#replacment_box {position:fixed; left:50%; top:50%; display:none}
#replacment_box div {position:relative; left:-100px; top:-50px; z-index:5; width:200px; padding:4px; height:70px; background:#fff; border:2px solid #333333}
#replacment_box div div {position:static; left:0; top:0; width:autol height:auto; background:none; border:none; padding:20px 0px 0px 0px}
#replacment_box p {text-align:right; padding:0px 0px 4px 0px}
#replacment_box input {width:195px}
#replacment_box strong {position:absolute; right:5px; top:0px}
#replacment_box a {text-decoration:none; color:#7597c5}
#replacment_box img {cursor:pointer}

/* tabele */

table {width:100%;}
.form_element a, table a {text-decoration:none; color:#1178f3;}
table.orders_list a.active, table.orders_list a:hover {color:#e31e24;}
th, td {padding:3px 5px 3px 5px; text-align:center; vertical-align:middle;}
th {background:#ccccff;}
table .bg_1 {background:#eeeeee;}
table .bg_2 {background:#eeeeff;}
table .bg_3 {background:#bdf1bd;}

#trader_comment, #reject_comment {background:#fff; border:2px solid #006cb5; padding:15px 20px 15px 20px; position:absolute; left:0px; top:0px; z-index:100; display:none;}
#trader_comment p, #reject_comment p {padding:5px 0px 0px 0px;}
#trader_comment textarea, #reject_comment textarea {width:200px; height:100px;}
#trader_comment a.submit, #reject_comment a.submit {color:#006cb5;}
#trader_comment img, #reject_comment img {cursor:pointer; position:absolute; top:4px; right:4px; width:15px;}

/* strona główna */

#main_page {text-align:center; padding:20px; font-size:13px;}

/* export */

#export_content {overflow-x:auto; overflow-y:auto; width:500px; height:100px;}
#export_box {width:3000px}

#page_content table.export {background:#f9fafc; border:2px solid #ebebeb; border-bottom:1px solid #ebebeb; border-bottom:medium none; font-size:13px; width:auto}
#page_content table.export th, #page_content table.export td {padding:5px 0px 5px 3px; border-right:1px solid #ebebeb;}
.export th {border-bottom:1px solid #ebebeb; padding:3px 5px 3px 0px; color:#c1433f; }
.export th input.check_all {position:relative; left:3px; top:1px;}
.export th p {text-align:left; position:relative; padding:0px 0px 0px 3px}
.export th p img.asc {position:absolute; right:3px; top:-1px; cursor:pointer}
.export th p img.desc {position:absolute; right:3px; top:9px; cursor:pointer}
.export th.last, .export td.last {border-right:none}
.export td {border-bottom:1px solid #ebebeb;}
.export td p {text-align:center}
.export td p.relative {position:relative;}
.export td p.relative input {position:absolute; right:3px; top:0px;}



#export_columns {position:absolute; left:50%; z-index:3; display:none}
#export_columns div {float:left; border:2px solid #497ab4; padding:10px; width:130px; background:#fff; position:relative; left:-65px;}
#export_columns div.clear {float:none; border:none; padding:0; width:auto; background:none; position:static;}
#export_columns p.button {float:left; margin:10px 0px 0px 0px}
#export_columns input {position:relative; top:2px}

.export_form_submit {text-decoration:none; font-weight:bold; color:#006cb5;}