* {margin:0; padding:0;}
img {border:none;}
body {font-family:Arial, sans-serif; font-size:12px;}
.clear {font-size:0px; clear:both;}

#main_content {width:98%; margin:0 auto; background:url(../images/background_1.png) repeat-x;}
#logo {padding-top:11px;}

#login_content {width:398px; height:223px; background:#f1f3f5; border:1px solid #cccccc; margin:0 auto; margin-top:120px;}
#description_box {float:left; width:170px;}
#description_box p {text-align:center; padding-top:20px;}
#description_box div {font-size:11px; padding-left:20px; padding-right:10px;}
#description_box div p {text-align:left; padding-top:15px;}

#form_content {float:left;}
#form_background {width:200px; background:#e9e9e9; border:1px solid #cccccc; padding-top:25px; margin-top:60px;}
.form_element {padding-left:15px; padding-bottom:8px;}
.form_element label {float:left; width:40px;}
.form_element input {width:105px; background:#eeeeee; border:1px solid #cccccc;}
.form_element input.submit {width:auto; background:#e9e9e9; border:1px solid #cccccc;}